<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.library">


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"

        android:theme="@style/Theme.Design.Light.NoActionBar">
        <activity android:name=".activity.MybookActivity"/>
        <activity android:name=".activity.SetDetailActivity" />
        <activity
            android:name=".activity.GuideActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity"/>
        <activity android:name=".Search.SearchActivity"/>
        <activity android:name=".activity.EachSortActivity"/>
        <activity android:name=".activity.BookDetailPagerActivity"/>
        <activity android:name=".edit"/>
        <activity android:name=".activity.OthersNoteActivity"/>
        <activity android:name=".Searcher.SearcherMain"/>
        <activity android:name=".AboutSwitch"/>
        <activity android:name=".BookExtract.BookExtratDetail"/>
        <activity android:name=".activity.ChoseBookExtractActivity"/>

        <activity android:name=".activity.RegisterActivity"/>

    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>